[build]
publish = "public"
command = "hugo --baseURL $URL --buildFuture"

[build.environment]
HUGO_VERSION = "0.138.0"
HUGO_THEME = "hugo-coder"

[context.deploy-preview]
command = "hugo --buildFuture --buildDrafts --baseURL $DEPLOY_PRIME_URL"

[[redirects]]
  from = "/meet"
  to = "https://meetings.hubspot.com/joshua702"
  status = 301
