.post-meta div {
  display: inline-block;
  margin-right: 1em;
  opacity: 0.5;
}

.footer ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  font-size: 0.5em;
}
.footer ul li a:link,
.footer ul li a:visited {
  color: white;
}
