{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <h1 class="title">
          <a class="title-link" href="{{ .Permalink | safeURL }}">
            {{ .Title }}
          </a>
        </h1>
      </div>
    </header>

    <div class="post-content">
      {{ .Content }}

      {{/* Featured Videos */}}
      {{ with where .Site.Data.talks.videos "featured" true }}
      <h2>Featured Videos</h2>
      {{ partial "video-grid.html" . }}
      {{ end }}

      {{/* Unevenly Distributed */}}
      {{ with .Site.Data.unevenly_distributed }}
      {{ if .episodes }}
      <h2>{{ .title }}</h2>
      {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
      {{ partial "video-grid.html" .episodes }}
      {{ end }}
      {{ end }}

      {{/* Single Pain Podcast */}}
      {{ with .Site.Data.podcast }}
      <h2>{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>
      {{ partial "video-grid.html" .episodes }}
      {{ end }}

      {{/* All Recorded Talks */}}
      {{ with .Site.Data.talks }}
      <h2>All {{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>
      {{ partial "video-grid.html" .videos }}
      {{ end }}
    </div>
  </article>
</section>
{{ end }}
